*{
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: hsl(1, 0%, 90%);
}

.cabeza{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    height: 240px;
}

.titulo-1{
    width: 500px;
    height:100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 40px;
    text-align: center;
    margin-bottom: -20px;
}
.titulo-2{
    width: 500px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
}

.texto-1{
    width: 500px;
    height:50px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
}

.contenedor-principal{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
}

.caja-1{
    background-color: white;
    width: 300px;
    height: 250px;
    margin-left: 200px;
    position: absolute;
    margin-top: 150px;
    border-radius: 10px;
    border-top: 3px solid hsl(180, 62%, 55%);
}

.titulo-3{
    margin-left: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.texto-2{
    margin-left: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 15px;
}

.supervisor{
    margin-left: 200px;
    margin-top: 40px;
}


.caja-2{
    background-color: white;
    width: 300px;
    height: 250px;
    margin-left: 550px;
    border-radius: 10px;
    border-top: 3px solid hsl(0, 78%, 62%);
}

.titulo-4{
    margin-left: 30px;

    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.texto-3{
    margin-left: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 15px;
    margin-bottom: 50px;
}

.equipo{
    margin-left: 200px;
}



.caja-3{
    position: absolute;
    background-color: white;
    width: 300px;
    height: 250px;
    margin-left: 550px;
    margin-top: 25px;
    border-radius: 10px;
    border-top: 3px solid hsl(34, 97%, 64%);
}

.titulo-5{
    margin-left: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.texto-4{
    margin-left: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 15px;
    margin-bottom: 50px;
}

.karma{
    margin-left: 200px;
}


.caja-4{
    position: absolute;
    background-color: white;
    width: 300px;
    height: 250px;
    margin-left: 900px;
    margin-top: -100px;
    border-radius: 10px;
    border-top: 3px solid hsl(212, 86%, 64%);
}

.titulo-6{
    margin-left: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.texto-5{
    margin-left: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 15px;
    margin-bottom: 50px;
}

.calculadora{
    margin-left: 200px;
}